{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 ><b>Hi there!</b></h2>
                         <p>I'm <b>Anuj sharma</b>, a fellow <b>IPS-CTM</b> student just like you, with a passion for programming. This blog is my way to share my knowledge, learn from others, and document my coding journey.</p>
                        <h2><b>Why Programming?</b></h2>
                         <p> what excites me about programming is that we are able to solve those world problem which we find impossible to solve without programming or computers and these all things we are able to do in a room of ours house or in a cubical of a company .</p>
                        <h2>What You'll Find Here</h2>
                        <p>This blog is for anyone who wants to:
                         <li>Deepen their understanding of core programming concepts.</li>
                         <li>Explore new programming languages and frameworks.like mojo(ai based programming language),flask,django and many more</li>
                         <li>Work through coding challenge experince together: Write your own experince and your own article for other programmers so that you are able to contribute in our programming industry.</li>
                     </p>
                     <h2><b>Learning Alongside You</b></h2>
                     <p>I'm still very much a student myself, and I believe there's immense value in learning together.  I'll be sharing my experiences, successes (and failures!), along with helpful resources I discover along the way.</p>
                     <h2><b>Feel free to reach out!</b></h2>
                      <p>If you have any questions, comments, or suggestions, please don't hesitate to leave a comment below a post or contact me directly.</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}